$color-lightblue: #cae0e5;
$color-turqoise: #149c9c;
$color-black: #2c2c2c;

$primary-font: 'Bebas Neue', "Gill Sans", Helvetica, Arial, sans-serif;
$secondary-font: "Lexend", "Gill Sans", Helvetica, Arial, sans-serif;
$header-font: "soloistregular", Helvetica, sans-serif;
