html,
body,
#root {
	min-height: 100vh;
}

body {
	background: url("/src/assets/images/casey-horner-RmoWqDCqN2E-unsplash.jpg") no-repeat center;
	background-color: $color-black;
	background-size: cover;
	color: #ffffff;
}

h1,
h2,
h3 {
	font-family: $primary-font;
}

p {
	font-family: $secondary-font;
}

#app {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
