html,
body,
#root {
	min-height: 100vh;
}

body {
	background: url("/src/images/casey-horner-RmoWqDCqN2E-unsplash.jpg") no-repeat center;
    background-color: $color-black;
	background-size: cover;
	color: #ffffff;
}

h1, h2, h3 {
	font-family: $primary-font;
}

#app {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
}
