.pagination {

	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-top: 2rem;

	.btn-primary {
		box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.60);
		background-color: $color-turqoise;
		border: none;

		&:hover {
			background-color: $color-lightblue;
			color: $color-black;
		}
	}

	.page {
		margin: 0 1rem;
	}
}
